h2 {

    color: orange;
    font-weight: bolder;
}
.main-heading {
    color: seagreen;
    font-style: italic;
}
.heading-name {
    color: royalblue;
    font-family: fantasy;
}
h3 {
    color: slategray;
    font-weight: bolder;


}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: silver;
    font-style: normal;
    font-size: larger;
    background-image: url();
}

.intro {
    background-color: red;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
    display: inline-block;
}

.form-group {
    background-color: red;

    margin-left: 20%;
}