h2 {

    color: blue;
    font-weight: bolder;
}
.main-heading {
    color: seagreen;
    font-style: italic;
}
.heading-name {
    color: royalblue;
    font-family: fantasy;
}
h3 {
    color: slategray;
    font-weight: bolder;
}

.intro {
    display: inline-block;

}


.modify {
    background: url("bg.jpg");

}
